.datosPersonales 
    *{box-sizing:border-box;}
    form{
        width:400px;
        padding:18px;
        border-radius:10px;
        margin:auto;
        background-image: url(/imagenes/fondoFormulario.png);
    }
    form label{
        width:72px;
        display:inline-block;
    }
    textarea{
        width:100%;
        height:100px;
        border:1px solid #f6f6f6;
        border-radius:3px;
        background-color:#f6f6f6;			
        margin:8px 0;
        /*resize: vertical | horizontal | none | both*/
        resize:none;
        display:block;
    }

    .direccion
    form{
    width:400px;
    padding:18px;
    border-radius:10px;
    margin:auto;
    background-color:rgba(255, 168, 249, 0.582);
    }