body,
html {
  height: 100%;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #eedcff;
  font-family: "Poppins", sans-serif;
}

/* Navbar */
.header {
  display: flex;
  position: absolute;
  top: 0px;
  width: 100%;
  height: 50px;
  min-height: inherit;
  background: white;
  align-items: center
}

.header img {
  width: 60px;
  margin-right: -25px;
}

.header h1 {
  position: relative;
  left: 30px;
  font-size: 25px;
}

.header p {
  position: relative;
  left: 70px;
  top: 3px;
  font-size: 13px;
}

.opcsContainer {
  display: flex;
  align-content: center;
  position: absolute;
  margin-left: 61%;
}

.opcsButton {
  position: relative;
  font-family: 'Poppins';
  font-size: 14px;
  color: #f85e8e;
  background-color: transparent;
  border: none;
  padding: 20px;
  cursor: pointer;
}

.opcsButton:hover {
  background-color: #f85e8e;
  color: white;
  font-size: 15px;
  padding: 10px;
}




/*Estilizar cada caja de formularios */
.formulariosDatos {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 681px;
  margin-bottom: -25px;
}

/* Estilizar caja de formulario */
.form {
  background-color: white;
  width: 400px;
  border-radius: 8px;
  padding: 20px 40px;
  box-shadow: 0 10px 25px rgba(92, 99, 105, .2);
  margin-right: 20px;
  margin-left: 20px;
}

.containerCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Estilizar titulo del form (Datos Personales) */
.title {
  font-size: 22px;
  margin-bottom: 15px;
  text-align: center;
}


#nameFor,
#nameBy,
#amount,
#message {
  position: absolute;
  font-size: 12px;
  font-family: 'Poppins';
}

#bank {
  position: absolute;
  width: 30px;
  height: 18px;
  margin-top: 9px;
  margin-left: 354px;
  background-size: cover;
  border: none;
}

#secret {
  position: absolute;
  width: 30px;
  height: 16px;
  margin-top: 9px;
  margin-left: 150px;
  background-image: url(./imgs/closed-eye.png);
  background-size: cover;
  border: none;
  background-color: transparent;
  cursor: pointer;
  z-index: 2;
}

/* Estilizar cada conjuto de etiqueta e input */
.inputContainer {
  position: relative;
  height: 45px;
  width: 90%;
  margin-bottom: 10px;
  margin-top: 3px;
  z-index: 0;
}

.inputContainerS {
  display: inline-flex;
  position: relative;
  height: 45px;
  width: 37%;
  margin-bottom: 10px;
  margin-top: 3px;
  margin-right: 49px;
  margin-left: 0px;
  z-index: 0;
}

.selector {
  position: absolute;
  top: 29px;
  left: 0px;
  height: 80%;
  width: 100%;
  border: 1px solid #DADCE0;
  border-radius: 7px;
  font-family: 'Poppins';
  font-size: 13px;
  padding: 0 20px;
  outline: none;
  background: none;
}

.selector option {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  z-index: 0;
}


/* Estilizar cajitas en la que se ingresa info (input) */
.input {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 80%;
  width: 100%;
  border: 1px solid #DADCE0;
  border-radius: 7px;
  font-size: 13px;
  padding: 0 20px;
  outline: none;
  background: none;
  z-index: 1;
}


/* Hacer que el placeholder (texto dentro del input) sea transparente */
::placeholder {
  color: transparent;
}

/* Estilizar las etiquetas y hacer que queden en el placeholder */
.label {
  position: absolute;
  top: 6px;
  /* top y left mueven el texto hacia arriba en relación al contenedor */
  left: 15px;
  padding: 0 4px;
  background-color: white;
  color: #DADCE0;
  font-size: 16px;
  transition: 0.5s;
  /* Tiempo que tomará el texto en subir cuando el cursor pase encima */
  z-index: 0;
  /* Etiqueta se posicione detrás de otros elementos si se superponen */
}

/* Estilizar boton */
.submitButton {
  display: block;
  padding: 12px 20px;
  border: none;
  background-color: #fa7ca4;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  /* Hace que cuando pase el cursor, cambie a selección */
  font-size: 16px;
  margin-top: 18px;
  font-family: 'Poppins';
}

/* Personalizar lo que el botón hace cuando el cursor pasa sobre él (hover) */
.submitButton:hover {
  background-color: #ffb1ca;
  transform: translateY(-2px);
  /* Hace que el elemento se mueva, en este caso verticalmente -2 */
}

/* Indicaciones de los input y las etiquetas cuando se interactue con ellos (clic) */
.input:focus+.label {
  top: -11px;
  left: 3px;
  z-index: 10;
  font-size: 14px;
  font-weight: 600;
  color: #fa7ca4;
}

/* Indicaciones para cambiar bordes de input cuando se interactue (clic) */
.input:focus {
  border: 2px solid #fa7ca4;
}

/* Especifica que placeholder no regrese cuando este lleno el input y que etiqueta pierda su color */
.input:not(:placeholder-shown)+.label {
  top: -11px;
  left: 3px;
  z-index: 10;
  font-size: 14px;
  font-weight: 600;
}

a:link,
a:visited {
  text-decoration: none;
}

.terminos {
  font-size: 14px;
}

#result {
  font-size: 13px;
  margin-top: 9px;
  color: red;
  font-weight: bold;
}

.vibrate-animation {
  animation: vibrate 0.5s;
}

@keyframes vibrate {
  0% {
    transform: rotate(0deg);
  }

  10% {
    transform: rotate(-1deg);
  }

  20% {
    transform: rotate(1deg);
  }

  30% {
    transform: rotate(0deg);
  }

  40% {
    transform: rotate(1deg);
  }

  50% {
    transform: rotate(-1deg);
  }

  60% {
    transform: rotate(0deg);
  }

  70% {
    transform: rotate(-1deg);
  }

  80% {
    transform: rotate(1deg);
  }

  90% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-1deg);
  }
}



/*Dialog Styles*/
dialog {
  padding: 1rem 3rem;
  background: white;
  max-width: 400px;
  padding-top: 2rem;
  border-radius: 20px;
  border: 0;
  box-shadow: 0 5px 30px 0 rgb(0 0 0 / 10%);
  animation: fadeIn 1s ease both;
}

.logoModal {
  background-size: cover;
  width: 92px;
  margin-left: -30px;
}

dialog h2 {
  font-weight: 600;
  font-size: 20px;
  padding-bottom: 1rem;
  margin-top: -56px;
  margin-left: 60px;
}

&::backdrop {
  animation: fadeIn 1s ease both;
  background: rgb(255 255 255 / 40%);
  z-index: 2;
  backdrop-filter: blur(20px);
}

p {
  font-size: 1rem;
  line-height: 1.3rem;
  padding: 0.5rem 0;
}

.x {
  filter: grayscale(1);
  border: none;
  background: none;
  position: absolute;
  top: 15px;
  right: 10px;
  transition: ease filter, transform 0.3s;
  cursor: pointer;
  transform-origin: center;

  &:hover {
    filter: grayscale(0);
    transform: scale(1.1);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


/* Footer */

ul {
  display: inline-grid;
  grid-auto-flow: row;
  grid-gap: 24px;
  justify-items: center;
  margin: auto;
  list-style: none;
}

@media (min-width: 500px) {
  ul {
    grid-auto-flow: column;
  }
}

.anchorF {
  color: #ffb1ca;
  text-decoration: none;
  box-shadow: inset 0 -1px 0 #c19fbf;
}

.anchorF:hover {
  box-shadow: inset 0 -1.2em 0 hsla(0, 0%, 100%, 0.4);
}


li:hover~li div {
  animation: wave-animation 0.3s infinite;
}

footer {
  display: flex;
  width: 100%;
  height: 50px;
  background-color: #eedcff;
  line-height: 1.3;
  font-family: 'Poppins', monospace;
}

@keyframes wave-animation {

  0%,
  100% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(20deg);
  }

  75% {
    transform: rotate(-15deg);
  }
}


/* Media Queries */

@media (max-width:1024px) {
  .header {
    height: 85px;
  }

  .header>img {
    width: 90px;
  }

  .header h1 {
    position: relative;
    left: 30px;
    font-size: 25px;
    top: -10px;
  }

  .header p {
    position: relative;
    left: -50px;
    top: 17px;
    font-size: 10px;
  }

  .opcsContainer {
    display: flex;
    align-content: center;
    position: absolute;
    margin-left: 54%;
  }

  .header h3 {
    left: 81px;
    font-size: 13px;
  }

  .formulariosDatos {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 681px;
    margin-bottom: 92px;
    margin-top: 116px;
  }

  .form {
    margin-bottom: 41px;
  }

  footer {
    position: absolute;
    top: 1273px;
  }

  li:last-child {
    animation: wave-animation 0.3s infinite;
  }

}


@media (max-width:768px) {
  .header img {
    width: 100px;
  }

  .header h1 {
    display: none;
  }

  .header p {
    position: absolute;
    left: 95px;
    top: 14px;
    font-size: 10px;
  }

  .opcsContainer {
    margin-left: 40%;
    position: initial;
  }

  .opcsButton {
    padding: 10px;
    font-size: 14px;
  }

  .form {
    width: 386px;
  }

  .inputContainerS {
    width: 36%;
  }

  #secret {
    margin-left: 138px;
  }

  .terminos {
    font-size: 16px;
  }

  li:last-child {
    animation: wave-animation 0.3s infinite;
  }
}


@media (max-width:480px) {
  .header {
    height: 108px;
    background-color: #eedcff;
  }

  .header img {
    width: 120px;
  }

  .header p {
    display: none;
  }

  .opcsContainer {
    margin-left: 24%;
    display: grid;
  }

  .opcsButton {
    text-align: end;
    font-weight: bold;
    padding: 7px;
  }

  .form {
    width: 262px
  }

  .inputContainerS {
    width: 30%;
  }

  .label {
    left: 6px;
  }

  #secret {
    margin-left: 76px;
  }

  .terminos {
    font-size: 14px;
  }

}